.slider-wrap {
  position: relative;
  overflow: hidden;
}
.slider {
  position: relative;
  width: 100%;
}
  .slider > * {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

/************************************************

Styles below this line are for demo only 
and can/should be omitted/overriden

*************************************************/

.slider {
  height: 400px;
}

.slide.s0 { background: rgb(255, 59, 48); }
.slide.s1 { background: rgb(255, 149, 0); }
.slide.s2 { background: rgb(255, 204, 0); }
.slide.s3 { background: rgb(76, 217, 100); }
.slide.s4 { background: rgb(52, 170, 220); }
.slide.s5 { background: rgb(0, 122, 255); }
.slide.s6 { background: rgb(88, 86, 214); }
.slide.s7 { background: rgb(255, 45, 85); }
.slide.s8 { background: rgb(142, 142, 147); }
.slide.s9 { background: rgb(199, 199, 204); }

.slider-2 { margin-left: 50%; transform: translate(-7.5%, 0);}
@media (max-width: 1360px) { .slider-2 { transform: translate(-12.5%, 0); } }
@media (max-width: 960px) { .slider-2 { transform: translate(-15%, 0); } }
@media (max-width: 800px) { .slider-2 { transform: translate(-25%, 0); } }
@media (max-width: 640px) { .slider-2 { transform: translate(-32.5%, 0); } }
@media (max-width: 480px) { .slider-2 { transform: translate(-40%, 0); } }

.slider-3 { transform: translate(37.5%, 0);}
@media (max-width: 1280px) { .slider-3 { transform: translate(32.5%, 0); } }
@media (max-width: 960px) { .slider-3 { transform: translate(25%, 0); } }
@media (max-width: 640px) { .slider-3 { transform: translate(17.5%, 0); } }
@media (max-width: 480px) { .slider-3 { transform: translate(10%, 0); } }
